body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color:#333333
}

.typing-container {
    /* font-family: 'Courier New', monospace; */
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid; /* Curseur clignotant */
    width: 0; /* Cache le texte initialement */
    animation: typing 4s steps(30, end) forwards, blink-caret 0.75s step-end 4s;
}

/* Animation de la frappe */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

/* Animation du curseur clignotant */
@keyframes blink-caret {
    50% { border-color: transparent; }
}

/* Faire disparaître le curseur après l'écriture */
.typing-container.finished {
    border-right: none; /* Retire le curseur */
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333;
}

.diapo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
}

.block{
    background-color: #333333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.body1 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.block.active{
    background-color: white;
    color: #333;
}

.block .icon{
    font-size: 3rem;
    margin-bottom: 10px;
}

.block .description{
    margin-bottom: 30px;
    font-size: 1rem;
}

.block .number {
    background-color: white;
    color: #1a3a5f;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.block.active .number {
    background-color: black;
    color: white
    ;
}

/* Effet hover */
.block:hover{
    transform: translateY(-10px); /*souleve le bloc de 10px*/
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /*Ajoute une ombre lors du survol*/
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a.active {
    color: black;  /* Texte de la page active */
    background-color: white; /* Couleur de fond de la page active */
    border-radius: 5px;
}

li a:hover:not(.active){
    background-color: #111;
}
.disposition {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-end;
}
.container img {
    display: flex;
    max-width: 200px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}
.container p {
    flex: 1;
}

.font{
    background-color: whitesmoke;
}

.container{
    width: 70%;
    margin: 15px auto;
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type=text], select, textarea{
    padding: 12px;
    border: 1px solid #ccc;
    resize: vertical;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.paragraphe{
    text-align: center;
}

.text{
    margin-left: 20px;
}

footer{
    text-align: center;
}

.contact{
    display: flex;
    justify-content: space-between;
    width: 80%;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
}

.info, .form{
    flex: 1;
    margin: 10px;
}

h2{
    color: #333;
    font-size: 24px;
}

form h2{
    margin-bottom: 20px;
}

input, textarea{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button{
    width: 93%;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: #333;
}

.description {
    line-height: 1.5;
    margin-bottom: 20px;
}

.additional-text {
    font-size: 0.9rem;
    color: white;
}
.additional-text1{
    color: black;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    margin-right: 15px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #0073b1; /* Change la couleur lors du survol (par exemple, bleu pour LinkedIn) */
}

.social-links i {
    margin-right: 8px;
}